/* 
Css Syntax:
selector {
	property: value;
}

 */
/* Universal Selector */
* {
	font-family: "Courier New", monospace;

	/* css reset */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Type Selector */
h1 {
	font-family: "Tahoma", sans-serif;
}
body {
	/*background-color: DeepSkyBlue;*/
	background-image: url(https://img.freepik.com/free-photo/particle-lines-futuristic-gradient-background_53876-104053.jpg?semt=ais_hybrid&w=740&q=80);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;

}
nav {
	background-color: white;
	text-align: center;
	/* padding - space inside the element */
	padding: 15px;
}
a {
	text-decoration: none;
}

/* class selector */
.nav-link {
	font-size: 20px;
}
.title {
	color: green;
	margin-top: 10px;
	margin-bottom: 10px;

}
.module-card {
	height: 350px;
	width: 800px;
	padding: 20px;
	border: 2px solid black;
	background-color: white;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
	border-radius: 15px;
	margin-left: auto;
	margin-right: auto;


}
.module-img {
	height: 200px;
	width: 200px;

}

/* ID Selector */
#hello {
	color: red;
}
#logo{
	height: 300px;
	width: 300px;
	border-radius: 150px;
	/* 2 x 16px (default size of the root em) */
	margin-top: 2rem;
	margin-bottom: 2rem;
}
#modules {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;


}
#moduleHeader {
	margin-top: 30px;

}
#landing {
	text-align: center;

}